<!DOCTYPE html>
<html>
  <head>
    <title>Mixpanel Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Description" />
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="<%= asset_path('application.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="content"></div>

    <script type="text/x-handlebars-template" id="index-template">
      <input type="text" name="mixpanel_token" class="span6 mixpanel-token" placeholder="Mixpanel Token" />
      <br />
      <button class="btn btn-large btn-primary">New List</button>
    </script>

    <script src="<%= asset_path('application.js') %>"></script>
  </body>
</html>

